

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">上传图片</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
		
		<form action="/upload" enctype="multipart/form-data">
		<div id="queue"></div>
		
		<input id="file_upload" name="image" type="file" multiple="true">
		<div class="btn btn-default">
			<a href="javascript:$('#file_upload').uploadify('upload','*')">开始上传</a>
		</div>
		
	</form>

			
</div>
<!-- /#page-wrapper -->
